body,
html {
  min-height: 100%;
}
body {
  background-image: url(/images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.atf {
  font-family: "Mali";
}
* {
  font-family: "Mali";
}
.btnl {
  background-image: url(/images/wood.jpg);
  border-radius: 10px;
  border-color: yellow;
  margin: 30px;
  padding: 10px;
}
.btns {
  color: yellow;
  font-size: small;
  background-image: url(/images/wood.jpg);
  border-radius: 10px;
  border-color: yellow;
  margin: 5px;
  padding: 10px;
}
.btnlac {
  color: white;
  background-image: url(/images/wood.jpg);
  border-radius: 10px;
  border-color: white;
  margin: 30px;
  padding: 10px;
}
.btnsac {
  color: white;
  font-size: small;
  background-image: url(/images/wood.jpg);
  border-radius: 10px;
  border-color: white;
  margin: 5px;
  padding: 10px;
}
.flexcen {
  justify-content: center;
}
.flexcen2 {
  justify-content: center;
  flex-wrap: wrap;
}
button:hover {
  color: pink;
  border-radius: 10px;
  border-color: pink;
}
.wood {
  background-image: url(/images/wood.jpg);
  color: yellow;
}
